<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Deliver4Me</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
      </ul>
      
      <div class="d-flex align-items-center gap-2">
        <ng-container *ngIf="!(authService.authState$ | async); else loggedInTemplate">
          <a routerLink="/login" class="btn btn-primary" routerLinkActive="active">
            <fa-icon [icon]="faSignInAlt" class="me-2"></fa-icon>
            Login
          </a>
          <a routerLink="/register" class="btn btn-success" routerLinkActive="active">
            <fa-icon [icon]="faUserPlus" class="me-2"></fa-icon>
            Register
          </a>
        </ng-container>
        <ng-template #loggedInTemplate>
          <a class="btn btn-outline-secondary" routerLink="/profile" routerLinkActive="active">
            <fa-icon [icon]="faUser" class="me-2"></fa-icon>
            Profile
          </a>
          <button class="btn btn-danger" (click)="logout()">
            <fa-icon [icon]="faSignOutAlt" class="me-2"></fa-icon>
            Logout
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
