<div class="row g-4">
    <div class="col-lg-12">
      

        <app-table
  [HeadersArray]="[
    { key: 'name', label: 'Naziv' },
    { key: 'userName', label: 'Korisničko ime' },
    { key: 'role', label: 'Uloga' },
    { key: 'phone', label: 'Telefon' },
    { key: 'email', label: 'Email' },
    { key: 'country', label: 'Država' },
    { key: 'state', label: 'Regija/Kanton' },
    { key: 'city', label: 'Grad' },
    { key: 'address', label: 'Adresa' },
    { key: 'action', label: 'Opcije' },
  ]"
  [DataArray]="users"
     (viewRequest)="viewUser($event)"
    >
</app-table>

    </div>
</div>