<div class="container mt-4" [formGroup]="profileForm">
  <div class="profile-section mb-4 p-4 border rounded content-bg">
    <h2>Profil</h2>

    <div class="row d-flex align-items-center">
      <div class="col-lg-4">
        <div class="mb-4">
          <div class="d-flex align-items-center flex-column">
            <div class="profile-photo-container">
  <img *ngIf="profileForm.value.photoUrl; else noPhoto" 
       [src]="profileForm.value.photoUrl" 
       alt="Profile photo" 
       class="profile-photo">
  <ng-template #noPhoto>
    <div class="profile-photo-placeholder">
      <img src="user.png" alt="User">
    </div>
  </ng-template>
</div>

            <div class="mt-3">
              <button *ngIf="profileForm.value.photoUrl; else uploadBtn" 
                      class="btn btn-outline-danger" 
                      (click)="removePhoto()">Ukloni sliku</button>
              <ng-template #uploadBtn>
                <div class="file-upload btn btn-primary">
                  <label>
                    <input type="file" accept="image/*" (change)="onFileSelected($event)" style="display: none;">
                    Add photo
                  </label>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="mb-3">
          <label class="form-label">Ime i prezime</label>
          <input type="text" class="form-control" [value]="profileForm.value.name" formControlName="name">
        </div>

        <div class="mb-3">
          <label class="form-label">Korisničko ime</label>
          <input type="text" class="form-control" formControlName="username">
        </div>

        

        <div class="row">
  <div class="col-md-6 mb-3">
    <label class="form-label">Država</label>
    <ng-select
      [items]="countries"
      bindLabel="name"
      bindValue="isoCode"
      formControlName="country"
      placeholder="Select country"
      (change)="onCountrySelect($event)">
    </ng-select>
  </div>

  <div class="col-md-6 mb-3">
    <label class="form-label">Regija/Kanton</label>
    <ng-select
      [items]="states"
      bindLabel="name"
      bindValue="name"
      formControlName="state"
      placeholder="Select state"
      (change)="onStateSelect($event)">
    </ng-select>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-3">
    <label class="form-label">Grad</label>
    <ng-select
  [items]="cities"
  bindLabel="name"
  bindValue="name"
  formControlName="city"
  placeholder="Select city"
  (change)="onCitySelect($event)">
</ng-select>

  </div>

  <div class="col-md-6 mb-3">
    <label class="form-label">Poštanski broj</label>
    <input type="text" class="form-control" formControlName="postalCode">
  </div>
</div>

<div class="mb-3">
  <label class="form-label">Adresa</label>
  <input type="text" class="form-control" formControlName="address">
</div>

<div class="mb-3">
  <label class="form-label">Telefon</label>
  <input type="text" class="form-control" formControlName="phone">
</div>


        <div class="d-flex justify-content-end align-items-center">
          <button class="btn btn-outline-primary" (click)="saveProfile()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>


<div class="map-section p-4 border rounded content-bg mb-4">
  <h3>Tačna lokacija</h3>
  <p>Prevucite marker na tačnu lokacciju da bi vas dostavljač lakše pronašao.</p>
  
  <div id="map" style="height: 300px;" class="rounded border mb-3"></div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-outline-success" (click)="updatePositionOnly()">Ažuriraj lokaciju</button>
  </div>
</div>



  <div class="account-section mb-4 p-4 border rounded content-bg">
    <h3>Račun</h3>

    <div class="mb-4">
      <h5 class="mb-3">Email adresa</h5>
      <div class="d-flex justify-content-between align-items-center">
        <span>{{ profileForm.value.email }}</span>
        <button class="btn btn-outline-secondary" (click)="changeEmailModal()">Uredi</button>
      </div>
    </div>

    <div class="mb-4">
      <h5 class="mb-3">Lozinka</h5>
      <div class="d-flex justify-content-between align-items-center">
        <span>**********</span>
        <button class="btn btn-outline-secondary" (click)="changePasswordModal()">Promijeni lozinku</button>
      </div>
    </div>

  </div>

  <div class="danger-section p-4 border rounded border-danger content-bg" *ngIf="getUserRole() !== 'admin'">
    <h3 class="text-danger">Opasna zona</h3>
    <p class="mb-3">Pažljivo, ovom radnjom brišete račun. Ponovna prijava nije moguća bez kontaktiranja administratora!</p>
    <div class="text-end">
        <button class="btn btn-outline-danger" (click)="requestAccountDeletion()">Obriši račun</button>
    </div>
  </div>
</div>
