.scrollable-list {
  max-height: 220px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
}

.scrollable-list::-webkit-scrollbar {
  width: 6px;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.scrollable-list::-webkit-scrollbar-track {
  background: transparent;
}

.card-body,.card-header,.card-footer {
  border: 0px solid #1c2434 !important;
}