@import "@ng-select/ng-select/themes/default.theme.css";
@import 'ngx-toastr/toastr';

.dark-bg, body {
  background-color: #080c1c !important;
    color: #fff !important;
}

.content-bg{
    background-color: #1c2434 !important;
    color: #fff;
}

.border, .border-bottom{
    border-color: #404358 !important;
}

.logo{
    height: 40px;
}
.card-body,.card-header,.card-footer {
  border: 0px solid #1c2434 !important;
}

.star-rating {
  color: gold;
}
