<div class="table-responsive rounded shadow-sm overflow-auto">
  <table class="table align-middle table-hover text-center mb-0">
    <thead class="bg-dark text-white sticky-top">
      <tr>
        <th *ngFor="let column of HeadersArray" class="text-uppercase" (click)="sort(column)" style="cursor: pointer;">
          {{ column }}
          <i *ngIf="column === sortOrder" class="fa ms-1"
             [ngClass]="{ 'fa-sort-up': sortOrder === 'asc', 'fa-sort-down': sortOrder === 'desc' }"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of DataArray; index as i" class="table-row">
        <td *ngFor="let column of HeadersArray">
          <ng-container *ngIf="column !== 'action'">
            <span *ngIf="isPillValue(row[column])" class="badge rounded-pill bg-primary px-3 py-2 text-white">
              {{ row[column] }}
            </span>
            <span *ngIf="!isPillValue(row[column])" (click)="openRoute(row.id)" class="text-nowrap">
              {{ row[column] }}
            </span>
          </ng-container>

          <ng-container *ngIf="column === 'action'">
            <button class="btn btn-outline-primary btn-sm me-2" (click)="edit(i)">
              <i class="fa fa-pen"></i>
            </button>
            <button class="btn btn-outline-danger btn-sm" (click)="delete(i)">
              <i class="fa fa-trash"></i>
            </button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
